# requirements.txt

ffmpeg-python
ftfy
imageio
matplotlib
ml-starter
more_itertools
numpy
numpy-quaternion
open3d
opencv-python
pandas
pyliblzfse
scipy
seaborn
timm
torch>=2.0.0
torchvision>=0.13.1
typed-argument-parser
