# requirements.txt

ffmpeg-python
ftfy
imageio
jupyter
matplotlib
ml-starter
more_itertools
numpy
numpy-quaternion
open3d
opencv-python
pandas
pybullet
pyliblzfse
scipy
seaborn
sklearn
torch>=2.0.0
torchvision>=0.13.1
